fastapi==0.115.5
uvicorn[standard]==0.32.1
pydantic==2.10.3
python-dotenv==1.0.1
langgraph==0.2.55
langchain==0.3.13
langchain-openai==0.2.14
openai==1.58.1
requests==2.32.3
regex==2024.11.6
python-multipart==0.0.20
httpx==0.28.1
pydantic-settings==2.6.1
opa-python-client==2.0.3

